@import '../../../styles';

.spread {
  padding: 200px 0px 5px;
  position: relative;
  
  [class*="lg-inc"]{
    text-align: center;
    border-right: 1px solid lighten($spread-ladder-border-color, 8%);
    // border-top: 1px solid #ccc;
  }

  &__above-axis {
    height: 6rem;
  }

  &__lg-inc--first {
    border-left: 1px solid lighten($spread-ladder-border-color, 8%);
  }
}

.chart-area {
  border: 1px dashed peru;
  height: 6rem;
  position: absolute;
  max-width: 100%;
  min-width: 100%;
}




.sm-inc {
  
  &__tick {
    height: 5px;
    border-right: 1px solid #ccc;
  }
}










// .container {
//   height: $container-height;
//   margin: 20rem auto 0;
//   background-color: lighten($border-default-color, 18%);

//   display: grid;
//   grid-template-rows: 4rem 1rem 1.5rem;
//   grid-template-columns: repeat(60, [col-start] 1fr [col-end]);
  
//   & > * {
//     font-size: 1rem;
//     color: #aaa;
//   }

//   [class^="spread-lg-"] {
//     text-align: center;
//   }
  
//   .spread-lg-1 {grid-column: col-start 1 / col-end 5; border-left: 1px solid $border-default-color; border-right: 1px solid $border-default-color;}
//   .spread-lg-2 {grid-column: col-start 6 / col-end 10; border-right: 1px solid $border-default-color;}
//   .spread-lg-3 {grid-column: col-start 11 / col-end 15; border-right: 1px solid $border-default-color;}
//   .spread-lg-4 {grid-column: col-start 16 / col-end 20; border-right: 1px solid $border-default-color;}
//   .spread-lg-5 {grid-column: col-start 21 / col-end 25; border-right: 1px solid $border-default-color;}
//   .spread-mid {grid-column: col-start 26 / col-end 35; border-right: 1px solid $border-default-color;}
//   .spread-lg-6 {grid-column: col-start 36 / col-end 40; border-right: 1px solid $border-default-color;}
//   .spread-lg-7 {grid-column: col-start 41 / col-end 45; border-right: 1px solid $border-default-color;}
//   .spread-lg-8 {grid-column: col-start 46 / col-end 50; border-right: 1px solid $border-default-color;}
//   .spread-lg-9 {grid-column: col-start 51 / col-end 55; border-right: 1px solid $border-default-color;}
//   .spread-lg-10 {grid-column: col-start 56 / col-end 60; border-right: 1px solid $border-default-color;}
      
//   .spread-xs-1 {grid-column: col-start 1 / col-end 1; border-left: 1px solid $border-default-color; border-right: 1px solid $border-default-color;}
//   .spread-xs-2 {grid-column: col-start 2 / col-end 2; border-right: 1px solid $border-default-color;}
//   .spread-xs-3 {grid-column: col-start 3 / col-end 3; border-right: 1px solid $border-default-color;}
//   .spread-xs-4 {grid-column: col-start 4 / col-end 4; border-right: 1px solid $border-default-color;}
//   .spread-xs-5 {grid-column: col-start 5 / col-end 5; border-right: 1px solid $border-default-color;}
//   .spread-xs-6 {grid-column: col-start 6 / col-end 6; border-right: 1px solid $border-default-color;}
//   .spread-xs-7 {grid-column: col-start 7 / col-end 7; border-right: 1px solid $border-default-color;}
//   .spread-xs-8 {grid-column: col-start 8 / col-end 8; border-right: 1px solid $border-default-color;}
//   .spread-xs-9 {grid-column: col-start 9 / col-end 9; border-right: 1px solid $border-default-color;}
//   .spread-xs-10 {grid-column: col-start 10 / col-end 10; border-right: 1px solid $border-default-color;}
//   .spread-xs-11 {grid-column: col-start 11 / col-end 11; border-right: 1px solid $border-default-color;}
//   .spread-xs-12 {grid-column: col-start 12 / col-end 12; border-right: 1px solid $border-default-color;}
//   .spread-xs-13 {grid-column: col-start 13 / col-end 13; border-right: 1px solid $border-default-color;}
//   .spread-xs-14 {grid-column: col-start 14 / col-end 14; border-right: 1px solid $border-default-color;}
//   .spread-xs-15 {grid-column: col-start 15 / col-end 15; border-right: 1px solid $border-default-color;}
//   .spread-xs-16 {grid-column: col-start 16 / col-end 16; border-right: 1px solid $border-default-color;}
//   .spread-xs-17 {grid-column: col-start 17 / col-end 17; border-right: 1px solid $border-default-color;}
//   .spread-xs-18 {grid-column: col-start 18 / col-end 18; border-right: 1px solid $border-default-color;}
//   .spread-xs-19 {grid-column: col-start 19 / col-end 19; border-right: 1px solid $border-default-color;}
//   .spread-xs-20 {grid-column: col-start 20 / col-end 20; border-right: 1px solid $border-default-color;}
//   .spread-xs-21 {grid-column: col-start 21 / col-end 21; border-right: 1px solid $border-default-color;}
//   .spread-xs-22 {grid-column: col-start 22 / col-end 22; border-right: 1px solid $border-default-color;}
//   .spread-xs-23 {grid-column: col-start 23 / col-end 23; border-right: 1px solid $border-default-color;}
//   .spread-xs-24 {grid-column: col-start 24 / col-end 24; border-right: 1px solid $border-default-color;}
//   .spread-xs-25 {grid-column: col-start 25 / col-end 25; border-right: 1px solid $border-default-color;}
//   .spread-xs-mid {grid-column: col-start 26 / col-end 35; border-right: 1px solid $border-default-color;}
//   .spread-xs-26 {grid-column: col-start 36 / col-end 36; border-right: 1px solid $border-default-color;}
//   .spread-xs-27 {grid-column: col-start 37 / col-end 37; border-right: 1px solid $border-default-color;}
//   .spread-xs-28 {grid-column: col-start 38 / col-end 38; border-right: 1px solid $border-default-color;}
//   .spread-xs-29 {grid-column: col-start 39 / col-end 39; border-right: 1px solid $border-default-color;}
//   .spread-xs-30 {grid-column: col-start 40 / col-end 40; border-right: 1px solid $border-default-color;}
//   .spread-xs-31 {grid-column: col-start 41 / col-end 41; border-right: 1px solid $border-default-color;}
//   .spread-xs-32 {grid-column: col-start 42 / col-end 42; border-right: 1px solid $border-default-color;}
//   .spread-xs-33 {grid-column: col-start 43 / col-end 43; border-right: 1px solid $border-default-color;}
//   .spread-xs-34 {grid-column: col-start 44 / col-end 44; border-right: 1px solid $border-default-color;}
//   .spread-xs-35 {grid-column: col-start 45 / col-end 45; border-right: 1px solid $border-default-color;}
//   .spread-xs-36 {grid-column: col-start 46 / col-end 46; border-right: 1px solid $border-default-color;}
//   .spread-xs-37 {grid-column: col-start 47 / col-end 47; border-right: 1px solid $border-default-color;}
//   .spread-xs-38 {grid-column: col-start 48 / col-end 48; border-right: 1px solid $border-default-color;}
//   .spread-xs-39 {grid-column: col-start 49 / col-end 49; border-right: 1px solid $border-default-color;}
//   .spread-xs-40 {grid-column: col-start 50 / col-end 50; border-right: 1px solid $border-default-color;}
//   .spread-xs-41 {grid-column: col-start 51 / col-end 51; border-right: 1px solid $border-default-color;}
//   .spread-xs-42 {grid-column: col-start 52 / col-end 52; border-right: 1px solid $border-default-color;}
//   .spread-xs-43 {grid-column: col-start 53 / col-end 53; border-right: 1px solid $border-default-color;}
//   .spread-xs-44 {grid-column: col-start 54 / col-end 54; border-right: 1px solid $border-default-color;}
//   .spread-xs-45 {grid-column: col-start 55 / col-end 55; border-right: 1px solid $border-default-color;}
//   .spread-xs-46 {grid-column: col-start 56 / col-end 56; border-right: 1px solid $border-default-color;}
//   .spread-xs-47 {grid-column: col-start 57 / col-end 57; border-right: 1px solid $border-default-color;}
//   .spread-xs-48 {grid-column: col-start 58 / col-end 58; border-right: 1px solid $border-default-color;}
//   .spread-xs-49 {grid-column: col-start 59 / col-end 59; border-right: 1px solid $border-default-color;}
//   .spread-xs-50 {grid-column: col-start 60 / col-end 60; border-right: 1px solid $border-default-color;}

// }