
<button (click)="increase(twmax, twMaxValue)">
  Go up Mid
</button>
<div class="spread" #spread>

  <!-- <div class="row">
    <div class="spread__above-axis">
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc--first"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-2-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
    </div>
  </div> -->

  <div class="chart">
    <div class="chart__datapoints">
      <div class="chart__datapoints--ref-tw-min">
        <p>TW Min</p>
        <i class="fas fa-circle"></i>
      </div>
      <div class="chart__datapoints--ref-tw-mid" #twmid>
        <p>TW Mid</p>
        <i class="fas fa-circle"></i>
      </div>
      <div class="chart__datapoints--ref-tw-max" [style.left.%]="twMaxPosition" #twmax>
        <p>TW Max</p>
        <p>{{twMaxValue}}</p>
        <i class="fas fa-circle"></i>
      </div>
    </div>
    <div class="chart__datapoints">
      <div class="chart__datapoints--ref-ancre">
        <p>Ancre</p>
        <i class="fas fa-circle"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc--first">
        <div class="spread__above-axis">
          
        </div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(25)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(20)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(15)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(10)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(5)</p>
      </div>
    </div>
    <div class="col-none-2-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <p>Mid</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>5</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>10</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>15</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>20</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>25</p>
      </div>
    </div>
  </div>
</div>