
<div class="spread">

  <!-- <div class="row">
    <div class="spread__above-axis">
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc--first"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-2-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
      <div class="col-none-1-of-12">
        <div class="spread__above-axis__lg-inc"></div>
      </div>
    </div>
  </div> -->

  <div class="chart-area">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="row">
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc--first">
        <div class="spread__above-axis">
          
        </div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(25)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(20)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(15)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(10)</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>(5)</p>
      </div>
    </div>
    <div class="col-none-2-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <p>Mid</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>5</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>10</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>15</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>20</p>
      </div>
    </div>
    <div class="col-none-1-of-12">
      <div class="spread__lg-inc">
        <div class="spread__above-axis"></div>
        <div class="row">
          <div class="sm-inc">
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"><div class="sm-inc__tick"></div></div>
            <div class="col-none-1-of-5"></div>
          </div>
        </div>
        <p>25</p>
      </div>
    </div>
  </div>
</div>






<!-- <div class="container">
  <div class="spread-lg-1"></div>
  <div class="spread-lg-2"></div>
  <div class="spread-lg-3"></div>
  <div class="spread-lg-4"></div>
  <div class="spread-lg-5"></div>
  <div class="spread-mid"></div>
  <div class="spread-lg-6"></div>
  <div class="spread-lg-7"></div>
  <div class="spread-lg-8"></div>
  <div class="spread-lg-9"></div>
  <div class="spread-lg-10"></div>

  <div class="spread-xs-1"></div>
  <div class="spread-xs-2"></div>
  <div class="spread-xs-3"></div>
  <div class="spread-xs-4"></div>
  <div class="spread-xs-5"></div>
  <div class="spread-xs-6"></div>
  <div class="spread-xs-7"></div>
  <div class="spread-xs-8"></div>
  <div class="spread-xs-9"></div>
  <div class="spread-xs-10"></div>
  <div class="spread-xs-11"></div>
  <div class="spread-xs-12"></div>
  <div class="spread-xs-13"></div>
  <div class="spread-xs-14"></div>
  <div class="spread-xs-15"></div>
  <div class="spread-xs-16"></div>
  <div class="spread-xs-17"></div>
  <div class="spread-xs-18"></div>
  <div class="spread-xs-19"></div>
  <div class="spread-xs-20"></div>
  <div class="spread-xs-21"></div>
  <div class="spread-xs-22"></div>
  <div class="spread-xs-23"></div>
  <div class="spread-xs-24"></div>
  <div class="spread-xs-25"></div>
  <div class="spread-xs-mid"></div>
  <div class="spread-xs-26"></div>
  <div class="spread-xs-27"></div>
  <div class="spread-xs-28"></div>
  <div class="spread-xs-29"></div>
  <div class="spread-xs-30"></div>
  <div class="spread-xs-31"></div>
  <div class="spread-xs-32"></div>
  <div class="spread-xs-33"></div>
  <div class="spread-xs-34"></div>
  <div class="spread-xs-35"></div>
  <div class="spread-xs-36"></div>
  <div class="spread-xs-37"></div>
  <div class="spread-xs-38"></div>
  <div class="spread-xs-39"></div>
  <div class="spread-xs-40"></div>
  <div class="spread-xs-41"></div>
  <div class="spread-xs-42"></div>
  <div class="spread-xs-43"></div>
  <div class="spread-xs-44"></div>
  <div class="spread-xs-45"></div>
  <div class="spread-xs-46"></div>
  <div class="spread-xs-47"></div>
  <div class="spread-xs-48"></div>
  <div class="spread-xs-49"></div>
  <div class="spread-xs-50"></div>
  
  <div class="spread-lg-1">(25)</div>
  <div class="spread-lg-2">(20)</div>
  <div class="spread-lg-3">(15)</div>
  <div class="spread-lg-4">(10)</div>
  <div class="spread-lg-5">(5)</div>
  <div class="spread-mid">mid</div>
  <div class="spread-lg-6">5</div>
  <div class="spread-lg-7">10</div>
  <div class="spread-lg-8">15</div>
  <div class="spread-lg-9">20</div>
  <div class="spread-lg-10">25</div>
</div> -->