@import '../styles';

.wrapper {
  max-width: $wrapper-max-width;
  height: $wrapper-height;
  margin: $wrapper-margin;
  padding-left: $wrapper-padding-left;
  padding-right: $wrapper-padding-right;
  border: 1px solid darken(#ccc, 15%);
}